/* Reset some default styles */
body, h2, label, input, button, a {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: Arial, sans-serif;
  }
  

  *{
    margin: 0;
    box-sizing: border-box;
  }  

  /* Apply styles to the body */
  body{
    background: black;
    color: white;
    height: 100vh;
    display: grid;
    place-items: center;
  }
  
  .form {
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    text-align: center;
    height: 856px;
    width:100%;
  }

  .main{
    position: relative;
    width:100%;
    max-width: 390px;
    border-radius: 14px;
    overflow: hidden;
  }
  /* Style the h2 heading */
  h2 {
    margin-top: 60%;
    font-size: 24px;
    margin-bottom: 20px;
    color: #333;
  }
  
  /* Style labels and input fields */
  label {
    display: block;
    margin-bottom: 10px;
    text-align: left;
    color: #555;
  }
  
  input[type="text"],
  input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
  }
  
  /* Style the Register button */
  button[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #FCA136;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
    margin-top: 10px;
  }
  
  button[type="submit"]:hover {
    background-color: #b16f25;
  }